

.circleImg{
        margin-left: auto;
        margin-right: auto;    
        margin-top: 9vh;
        width: 200px;
        height: 200px;
        background-image: url(../../img/IMG_2559.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        animation-name: cambiarColor;
        animation-duration: 5s;
        animation-direction: alternate-reverse;
    }


@keyframes cambiarColor{
    0%{
        opacity: 100%;
    }
    15%{
        opacity: 80%;
    }
    20%{
        opacity: 70%;
    }
    50%{
        transform: scale(1);
        opacity: 30%;
        transform: translateX(50%);
    }
    80%{
        opacity: 20%;
    }
    100%{
        transform: scale(0.9);
        transform: translateY(100%);
        opacity: 0%;
        
    }
        }

        article{
            h3{
                animation-name: desde;
                animation-duration: 20s;
            }
        }
        
        @keyframes desde{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }

#productos{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}