.btn{
    a{
        text-decoration: none;
        list-style: none;
        color: black;
    }

}
.btn{
    .pyme{
        color: rgb(47, 47, 47);
    }
}
.btn{
    .company{
        color: rgb(47, 47, 47);
    }
}
.btn{
    .freelance{
        color: rgb(47, 47, 47);
    }
}