@media screen and (min-width: 768px ){

    #fondoObelisco h2{
        border-radius: 15px;
        margin-bottom: 5px;
        width: 70%;
        transition: width 1.5s;
    }   
    
    #fondoObelisco p{
        border-radius: 15px;
        background-image: linear-gradient(rgb(255, 255, 255), rgb(245, 235, 235));
        width: 70%;
        height: 70%;
        transition:width 1.5s;
    }
    #fondoObelisco h2:hover{
        width: 100%;
    }
    #fondoObelisco p:hover{
        width:100%;
    }
}