@mixin botonRedes ($bgColorRedes, $colorTextRedes, $borderRadiusRedes){
    background-color: $bgColorRedes;
    color: $colorTextRedes;
    font-size: 15px;
    border-radius: $borderRadiusRedes;
    
}