#fondoObelisco{
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
 }
 #fondoObelisco h2{
    background-color: rgba(164, 103, 65, 0.772);
    color: rgb(255, 255, 255);
 }
 #fondoObelisco p{
    background-color:  rgba(243, 243, 243, 0.772);
    padding-top: 110px;
    padding-bottom: 110px;
    color: rgb(140, 124, 124);
 }