@import "../styles/partials/_h3.scss";
@import "../styles/partials/articleIndex";
@import "../styles/partials/historia";
@import "../styles/partials/ubicacion";
@import "../styles/partials/materialesArticulos";
@import "../styles/partials/productos";
@import "../styles/partials/aparecer";
@import "../styles/partials/tamaños";
@import "../styles/partials/headers";
@import "../styles/partials/cardsProductos";

#productos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}




.card{
    width: 200px;
    height: 300px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .imgCard{
    height: 85%;
    width: 100%;
 }
 .imagen{
    height: 100%;
    width: 100%;
 }
 .cuerpoUno h3{
    display: flex;
    justify-content: center;
    font-size: 12px;
 }
 .cuerpoUno p{
    display: flex;
    justify-content: center;
    font-size: 13px;
    background-color: rgb(158, 158, 111);
 
 }

 

 





.centerImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}



        footer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: rgb(122, 122, 122);
         }
         footer ul li{
            text-decoration:dashed;
            animation-name: footLink;
            animation-duration: 5s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
         }
         footer li:hover{
            width: 25px;
            transform: rotate(2deg);
         }
         @keyframes footLink{
            0%{ background-color: rgb(253, 253, 253);}
            25%{ background-color: rgb(131, 131, 131);}
            50%{ background-color: rgb(224, 224, 224);}
            90%{ background-color: rgb(158, 149, 100);}

         }

@media screen and (min-width: 768px ){

     #fondoObelisco h2{
        border-radius: 15px;
        margin-bottom: 5px;
        width: 70%;
        transition: width 1.5s;
     }
     
     #fondoObelisco p{
        border-radius: 15px;
        background-image: linear-gradient(rgb(255, 255, 255), rgb(245, 235, 235));
        width: 70%;
        height: 70%;
        transition:width 1.5s;
     }
     #fondoObelisco h2:hover{
        width: 100%;
     }
     #fondoObelisco p:hover{
        width:100%;
     }
}